*{
  margin:0;
  padding: 0;
  font-family:sans-serif;

}
.hero{
  width: 100%;
  height: 100vh;
  background-image: url(images/wp2601899.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.logo {
 width: 150px;
 cursor: pointer;
}

.navbar{
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button{
color: fbfcfd;
padding: 10px 25px;
background: transparent;
border: 1px solid #fff;
border-radius:  20px;
outline: none;
cursor: pointer; 
color: #fff;
}
button:hover{
  color:rgb(255, 255, 255);
  background: linear-gradient(#e224e2,#1b2f91)
 
}
.content{
  color: #fdfcfd;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2;
}
h1{
  font-size: 80px;
  margin: 10px 0 30px;
  line-height: 80px;
}
.sidebar{
  width: 50px;
  height: 100vh;
  background: linear-gradient(#e224e2,#1b2f91);
  position: absolute;
  right: 0;
  top: 0;
}
.menu{
  display: block;
  width: 28px;
  margin: 40px auto 0;
  cursor: pointer;
}
.menu:hover{
  width: 40px;
}
.social-links img, .useful-links img{
width: 25px;
margin: 5px auto;
cursor: pointer;
}
.social-links{
  width: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.useful-links{
  width: 50px;
  text-align: center;
  position: absolute;
  bottom: 30px;
}

@media screen and (max-width: 600px){

  h1{
    font-size: 36px;
    line-height: 56px;
  }
  .logo{
    width: 100px;
    cursor: pointer;
  }
  button{
  margin-right: 15px;
  }
  .hero{
    background-image: url(images/115-1159405_outer-space-astronomical-object-atmosphere-planet-space-wallpaper.jpg);
  
  }
}
 